# Custom macros

[gcode_macro PRINTER_HEATING]
gcode:
	STOP_LED_EFFECTS
	SET_LED_EFFECT EFFECT=printer_heating

[gcode_macro PRINTER_COOLING]
gcode:
        STOP_LED_EFFECTS
        SET_LED_EFFECT EFFECT=printer_cooling

[gcode_macro PRINT_PROGRESS]
gcode:
        STOP_LED_EFFECTS
        SET_LED_EFFECT EFFECT=print_progress
        SET_LED_EFFECT EFFECT=printer_camera
        SET_LED_EFFECT EFFECT=printer_nozzle

[gcode_macro PRINTER_CAMERA]
gcode:
        SET_LED_EFFECT EFFECT=printer_camera

[gcode_macro PRINT_PREPARING]
gcode:
        STOP_LED_EFFECTS
        SET_LED_EFFECT EFFECT=print_preparing

[gcode_macro PRINT_COMPLETE]
gcode:
        STOP_LED_EFFECTS
        SET_LED_EFFECT EFFECT=print_complete

[gcode_macro START_PRINT]
gcode:
    PRINT_PREPARING
    SELECT_PRINT_MULTIPLIERS
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}
    G92 E0
    G28
    G1 Z5 F3000
    G90
    PRINTER_HEATING
    M140 S{BED_TEMP}
    M82 
    G1 X0.1 Y20 Z0.3 F5000.0
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15
    G1 X0.4 Y200.0 Z0.3 F5000.0
    G1 X0.4 Y20 Z0.3 F1500.0 E30 
    G92 E0 
    G1 Z2.0 F3000
    G1 X5 Y20 Z0.3 F5000.0
    PRINT_PROGRESS
    PRINTER_CAMERA
    

[gcode_macro END_PRINT]
gcode:
    {% set MACHINE_DEPTH = params.MACHINE_DEPTH|default(220.0)|float %}
    G91
    G1 E-5 F2700
    G1 E-5 Z0.2 F2400 
    G1 X5 Y5 F3000
    G1 Z10
    G90
    G1 X0 Y{MACHINE_DEPTH}
    PRINTER_COOLING
    M106 S0
    M104 S0
    M140 S0
    M84 X Y E

[gcode_macro SET_ABS_MULTIPLIERS]
gcode:
    SET_VELOCITY_LIMIT VELOCITY=125
    SET_VELOCITY_LIMIT ACCEL=1250
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=2
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL=1200
    M220 S25

[gcode_macro SET_PLA_MULTIPLIERS]
gcode:
    SET_VELOCITY_LIMIT VELOCITY=150
    SET_VELOCITY_LIMIT ACCEL=1500
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=3
    SET_VELOCITY_LIMIT ACCEL_TO_DECEL=1200
    M220 S50

[gcode_macro SELECT_PRINT_MULTIPLIERS]
gcode:
    RESPOND TYPE=command MSG="action:prompt_begin Set Print Multipliers"
    RESPOND TYPE=command MSG="action:prompt_text Select which multipliers to use."
    RESPOND TYPE=command MSG="action:prompt_button_group_start"
    RESPOND TYPE=command MSG="action:prompt_button ABS|SET_ABS_MULTIPLIERS|primary"
    RESPOND TYPE=command MSG="action:prompt_button PLA|SET_PLA_MULTIPLIERS|secondary"
    RESPOND TYPE=command MSG="action:prompt_button_group_end"
    RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro QUERY_BME280]
gcode:
    {% set sensor = printer["bme280 my_sensor"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Pressure: %.2f hPa\n"
        "Humidity: %.2f%%" % (
            sensor.temperature,
            sensor.pressure,
            sensor.humidity))}

[gcode_macro QUERY_HTU21D]
gcode:
    {% set sensor = printer["htu21d my_sensor"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Humidity: %.2f%%" % (
            sensor.temperature,
            sensor.humidity))}

[gcode_macro M117]
rename_existing: M117.1
gcode:
  {% if rawparams %}
    {% set escaped_msg = rawparams.split(';', 1)[0].split('\x23', 1)[0]|replace('"', '\\"') %}
    SET_DISPLAY_TEXT MSG="{escaped_msg}"
    RESPOND TYPE=command MSG="{escaped_msg}"
  {% else %}
    SET_DISPLAY_TEXT
  {% endif %}

# 'Marlin' style M808 compatibility macro for SDCard looping
[gcode_macro M808]
gcode:
    {% if params.K is not defined and params.L is defined %}SDCARD_LOOP_BEGIN COUNT={params.L|int}{% endif %}
    {% if params.K is not defined and params.L is not defined %}SDCARD_LOOP_END{% endif %}
    {% if params.K is defined and params.L is not defined %}SDCARD_LOOP_DESIST{% endif %}

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}
